body {
    background: #F7F9FC;
    color: #35495e;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

h1 {
    color: #35495e;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    color: #35495e;
    font-size: 24px;
    font-weight: lighter;
    font-weight: 500;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #347474;
    font-weight: 600;
    font-size: 16px;
}

.container {
  width: 900px;
  margin: 40px auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 20px 0px;
  text-align: center;
}

#introduction p {
    margin-bottom: 40px;
}

 .profile-pic {
  border-radius: 50px;
 }

.btn-blue {
    background-color: #347474;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}

.btn-blue:hover {
    color: #347474;
    background-color: white;
    border: #347474 1px solid;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline i {
    font-size: 40px;
    color: rgb(230, 230, 230);
}

.list-inline i:hover {
    font-size: 45px;
    color: #35495e;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

